$icomoon-font-path: "../fonts" !default;

$icon-office: "\e903";
$icon-book: "\e91f";
$icon-library: "\e921";
$icon-stack: "\e92e";
$icon-users: "\e972";
$icon-user-tie: "\e976";
$icon-airplane: "\e9af";
$icon-tree: "\e9bc";
$icon-menu: "\e9bd";

$font-color: #7272bc