@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?t3qmta");
  src: url("../fonts/icomoon.eot?t3qmta#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?t3qmta") format("truetype"), url("../fonts/icomoon.woff?t3qmta") format("woff"), url("../fonts/icomoon.svg?t3qmta#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-office:before {
  content: ""; }

.icon-book:before {
  content: ""; }

.icon-library:before {
  content: ""; }

.icon-menu:before {
  content: ""; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

.banner {
  position: relative; }
  .banner .img {
    width: 99vw; }

.drawer {
  position: absolute;
  width: 6.25vw;
  height: 100%;
  z-index: 10;
  color: #7272bc;
  text-align: center;
  justify-content: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.156863), 0 3px 10px rgba(0, 0, 0, 0.227451);
  background: #f4f8f9;
  transition: all 0.5s ease-in-out; }
  @media screen and (max-width: 420px) {
    .drawer {
      width: 11.25vw; } }
  .drawer.open {
    width: 12vw; }
    @media screen and (max-width: 1600px) {
      .drawer.open {
        width: 8vw; } }
    @media screen and (max-width: 420px) {
      .drawer.open {
        width: 32vw; } }
    .drawer.open .text-wrapper {
      margin-top: 20px; }
      .drawer.open .text-wrapper .text {
        visibility: hidden;
        opacity: 0; }
    .drawer.open .nav-item {
      visibility: inherit;
      opacity: 1; }
      .drawer.open .nav-item .link {
        padding: 12px 40px; }
  .drawer .logo {
    padding-top: 3.3333vw;
    width: 4.2708vw;
    height: 4.4271vw; }
  .drawer .text-wrapper {
    display: flex;
    margin-top: 140px;
    height: 6.25vw;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: all 0.5s ease-in-out; }
  .drawer .text {
    margin: 0;
    visibility: inherit;
    font-size: 1.25vw;
    letter-spacing: 1px;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    opacity: 1;
    transition: all 0.5s ease-in-out; }
    @media screen and (max-width: 420px) {
      .drawer .text {
        font-size: 14px; } }
  .drawer .nav-list {
    margin-top: -80px; }
  .drawer .nav-item {
    visibility: hidden;
    line-height: 48px;
    width: 100%;
    height: 48px;
    opacity: 0;
    transition: all 0.5s ease-in-out; }
    .drawer .nav-item:hover {
      background: rgba(7, 17, 27, 0.1); }
    .drawer .nav-item .link {
      font-size: 16px;
      color: #7272bc;
      text-decoration: none;
      transition: all 0.5s ease-in-out; }
      .drawer .nav-item .link:hover, .drawer .nav-item .link:visited, .drawer .nav-item .link:focus {
        color: #7272bc; }
  .drawer [class*="icon-"] {
    display: block;
    margin-top: 40px;
    padding: 20px 0;
    font-size: 1.25vw;
    transition: all 0.5s ease-in-out; }
    @media screen and (max-width: 420px) {
      .drawer [class*="icon-"] {
        font-size: 14px; } }
  .drawer .wp_nav .nav-item a {
    font-size: 16px;
    font-family: 'Roboto', "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif; }
    .drawer .wp_nav .nav-item a:hover, .drawer .wp_nav .nav-item a:visited, .drawer .wp_nav .nav-item a:focus {
      color: #7272bc; }
    .drawer .wp_nav .nav-item a .item-name {
      color: #7272bc; }

.footer {
  position: relative;
  z-index: 11;
  padding: 1vw 4vw;
  width: calc(100% - 8vw);
  height: 5vw;
  font-size: 14px;
  color: #fbfcfd;
  text-align: center;
  background: #a9aed7;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.156863), 0 3px 10px rgba(0, 0, 0, 0.227451); }
  .footer .address-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .footer .line {
    margin: 1vw 0;
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.3); }
  .footer .copyright {
    font-size: 14px; }

.main {
  position: relative;
  display: flex;
  background: #f4f8f9; }
  .main .main-wrapper {
    position: relative;
    margin: 0 0 20px 6.25vw;
    padding: 0 60px;
    flex: 1;
    min-height: 66vw; }
  .main .content-wrapper {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.156863), 0 3px 10px rgba(0, 0, 0, 0.227451); }
    .main .content-wrapper .title-wrapper {
      padding: 0 50px;
      height: 80px;
      line-height: 80px;
      font-size: 24px;
      color: #fff;
      text-shadow: 1px 1px 8px #444;
      letter-spacing: 3px;
      overflow: hidden;
      background: rgba(170, 170, 170, 0.2); }
    .main .content-wrapper .content {
      font-size: 14px; }
      .main .content-wrapper .content a {
        color: #000; }
      .main .content-wrapper .content .wp_article_list {
        padding-left: 0; }
      .main .content-wrapper .content .list_item {
        padding: 0 30px;
        width: calc(100% - 60px);
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        list-style-type: none;
        border-bottom: 1px solid rgba(170, 170, 170, 0.3);
        transition: all 0.3s ease-out; }
        .main .content-wrapper .content .list_item:hover {
          background: rgba(170, 170, 170, 0.1); }
          .main .content-wrapper .content .list_item:hover a {
            color: #7272bc; }
        .main .content-wrapper .content .list_item .Article_Index {
          height: 42px; }
        .main .content-wrapper .content .list_item .Article_Index {
          font-size: 12px; }

article .content {
  padding: 30px;
  text-indent: 2em; }
  article .content p {
    margin-bottom: 10px; }

.squares {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  flex-wrap: wrap; }
  .squares [class*="icon-"] {
    display: block;
    padding: 20px 0;
    font-size: 64px; }
  .squares .square-item {
    padding: 2vw 0;
    width: 26vw;
    color: #fff;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.156863), 0 3px 10px rgba(0, 0, 0, 0.227451); }
    .squares .square-item.i1 {
      background: #a4c9e2; }
    .squares .square-item.i2 {
      background: #abaed6; }
    .squares .square-item.i3 {
      background: #b59dc4; }
  .squares .title {
    width: 100%;
    font-size: 36px;
    font-weight: 400; }
  .squares .text {
    margin-top: 1vw;
    width: 100%;
    font-size: 16px; }

.overview {
  margin-top: 50px; }
  .overview .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .overview .title {
    margin: 0;
    font-size: 30px;
    font-weight: 100;
    color: #7272bc;
    font-style: italic; }
  .overview .line {
    width: 40%;
    height: 2px;
    background: #ededed; }
  .overview .content-wrapper {
    display: flex;
    margin-bottom: 20px;
    padding: 4vw 0; }
  .overview .img-wrapper {
    position: relative;
    margin-left: 6vw; }
  .overview .img {
    position: relative;
    width: 20vw;
    height: 23.5vw;
    z-index: 2; }
  .overview .img-border {
    position: absolute;
    top: 3vw;
    left: -3vw;
    width: 20vw;
    height: 23.5vw;
    border: 20px solid #b49ac6;
    box-sizing: border-box; }
  .overview .contents {
    margin-left: 6vw;
    font-size: 14px;
    color: #7272bc; }
  .overview .content-item {
    display: flex;
    margin-top: 2vw;
    align-items: center; }
  .overview .round {
    flex: 0 0 5vw;
    width: 5vw;
    height: 5vw;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.156863), 0 3px 10px rgba(0, 0, 0, 0.227451);
    border-radius: 50%; }
    .overview .round.i1, .overview .round.i3 {
      background: #b49ac6; }
    .overview .round.i2, .overview .round.i4 {
      background: #a9aed7; }
  .overview .text-wrapper {
    margin-left: 2vw;
    flex: 1;
    line-height: 1.5; }
    .overview .text-wrapper p {
      margin: 5px 0; }

.content-wrapper {
  margin-top: 20px;
  width: 100%; }

body, html {
  margin: 0;
  font-family: 'Roboto', "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  font-size: 0; }

h2, p, a {
  margin: 0;
  text-decoration: none; }
