.drawer
  position: relative
  z-index: 10
  flex: 0 0 120px
  height: 100vh
  justify-content: center
  text-align: center
  box-shadow: 0 3px 10px rgba(0,0,0,.156863), 0 3px 10px rgba(0,0,0,.227451)

.logo
  padding-top: 64px
  
.text
  position: absolute
  top: 294px
  left: -29px
  margin: 0
  width: 180px
  font-size: 16px
  color: #595679
  letter-spacing: 1px
  transform: rotate(-90deg)

[class*="icon-"]
  display: block
  margin-top: 330px
  font-size: 18px